#bodd{
	width: 248px;
	height: 248px;
	margin: 10px auto;
}
.small{
	width: 60px;
	height: 60px;
	margin: 1px;
	background: aqua;
	float: left;
	text-align: center;
	line-height: 60px;
	font-size: 45px;
	color: green;
}
p {
	font-size: 30px;
	text-align: center;
	color: cornflowerblue;
}
